body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}
.page{
  min-height: 100%;
  background-image: url('./cloud-blue-sky.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

h1 {
  padding: .77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin: 0;
}

.App {
  overflow: hidden;
  padding: 2% 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.App-weather {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

@media only screen and (max-width: 1020px) {
  .App{
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }

  .App-weather{
    font-size: 14px;
    margin-top: 15px;
  }

  .App-weather h2{
    font-size: 16px;
  }
}
